<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-os-plugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OSPlugin</name>
    <js-module name="OSPlugin" src="www/OSPlugin.js">
        <clobbers target="cordova.plugins.OSPlugin" />
    </js-module>
</plugin>
